.toggle_button{
	display: flex;
	flex-direction: column;
	height: 30px;
	width: 30px;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	box-sizing: border-box;
	justify-content: space-around;
}

.toggle_button_line{
	width: 30px;
	height: 3px;
	background: white;
}

.toggle_button:focus;{
	outline: none;
}