.side_drawer{
	height: 100%;
	background: white;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;
	max-width: 400px;
	z-index: 300;
	transform: translateX(-105%);
	transition: transform 0.4s ease-out;
}

.side_drawer.open {
	transform: translateX(0);	
}

.side_drawer ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.side_drawer li {
	margin: 0.5rem 0;
;}

.side_drawer a {
	color: #521751;
	text-decoration: none;
	font-size: 1.2rem;
}

.side_drawer a:hover, 
.side_drawer a:active {
	color: orange;
}

@media (min-width: 769px) {
	.side_drawer {
		display: none;
	}
}