::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, .7);
  opacity: 1; /* Firefox */
}

.DateInput{
	width: 100px;

}

.DateRangePicker {
	margin: 5px;
}

.DateInput_input {
    font-family: 'Karla', sans-serif;
	font-size: .75rem;
	line-height: 0px;
	background-color: rgba(21, 76, 102, 1);
	color: #fff;
	padding: 7px 11px 7px;
	width: 78px;
}

.DateInput_input:hover, 
.DateInput_input:active {
	background: rgba(21, 76, 102, .8);
	-webkit-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	transition: all 150ms linear;
}

.DateRangePickerInput_arrow{
	display: none;
}

.DateRangePickerInput__withBorder {
	border: 0px solid transparent;
}